<!doctype html>
<html ng-app="exampleApp">
	<head>
		<title>ngLevenstein examples</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
		<script type="text/javascript" src="../js/levenstein.js"></script>
		<script type="text/javascript">
			var exampleApp = angular.module('exampleApp', ['ngLevenstein']);

			exampleApp.controller('ListCtrl', ['$scope', function($scope){
				$scope.search = '';
				$scope.list = [
					'abacist',
					'aback',
					'abactinal',
					'abacition',
					'abactor',
					'abaculus',
					'abacus',
					'pressor',
					'presspack',
					'pressurage',
					'pressure',
					'presswork'
				];
			}]);
		</script>
	</head>
	<body ng-controller="ListCtrl">
		<form>
			<fieldset class="form-group">
				<label for="search">Search text</label>
				<input type="text" class="form-control" id="search" ng-model="search" placeholder="Search ...">
			</fieldset>
		</form>
		<ul>
			<li ng-repeat="word in list | orderByLevenstein:search | limitTo:5">
				{{word}} | {{word | levensteinDistance:search}}
			</li>
		</ul>
	</body>
</html>